/* Article styles were sourced from https://www.freecodecamp.org/news/how-to-recreate-mediums-article-layout-with-css-grid-b4608792bad1/ */
.header {
    text-align: center;
    position: absolute;
    width: 100%;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 500;
    font-size: 40px;
    color: black;
}

body {
    margin: 0;
}

/* Article styles were sourced from https://www.freecodecamp.org/news/how-to-recreate-mediums-article-layout-with-css-grid-b4608792bad1/ */
article {  
    display: none;  
    grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr; 
}


    article > * {
        grid-column: 4;
        min-width: 0;
    }

    article > h1 {
        font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
        font-weight: 700;
        font-size: 42px;
        color: #242424;
    }

    article > blockquote {  
        grid-column: 3 / 5;  
        padding-left: 10px;  
        color: #666;  
        border-left: 3px solid black;  
    }

    article > p {    
        --x-height-multiplier: 0.375;
        --baseline-multiplier: 0.17;
        font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
        letter-spacing: .01rem;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -.003em;
        color: rgba(0,0,0,.84);
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

.full-width {  
    grid-column: 1 / -1;  
    margin: 20px 0;  
}

.medium-width {  
    grid-column: 2 / -2;  
    margin: 20px 0;  
}


.close {  
    grid-column: -1;  
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 3em;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

.profile, .actions {
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 500;
}

.profile {
    height: 52px;
}

    .profile > div {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .profile img {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        float: left;
        margin-right: 12px;
    }

.actions {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin-top: 32px;
    margin-bottom: 56px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .actions img {
        width: 25px;
        height: 25px;
        filter: invert(45%) sepia(11%) saturate(8%) hue-rotate(334deg) brightness(89%) contrast(86%);
    }

    .actions > div {
        height: 41px;
        width: max-content;
        display: flex;
        align-items: center;
    }

    .actions span {
        margin-right: 25px;
        margin-left: 4px;
    }

.right-actions img {
    margin-right: 25px;
}

.article-nav {  
    font-size: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-nav span {
    width: 64px;
    height: 64px;
}